#!/bin/bash

##############################################################
# script called by dnsmasq when dhcp leases are created.
# creates a marker file for every new dhcp lease which is then
# picked up by our node provisioning job.
##############################################################

# sample command line arguments: add fa:2d:37:78:7f:cf 192.168.2.106 k8s-node-106
# i.e.: <operation> <MAC address> <ip address> <hostname>

HOMEK8S_BASE_DIR="{{ homek8s_gateway_base_dir }}"

{% raw %}
if [[ "$1" == "add" && "$4" == "k8s-node-"* ]] ; then
  touch "${HOMEK8S_BASE_DIR}/data/new_nodes/${4}"
fi
{% endraw %}